<h1>Editing user</h1>

<% form_tag :action => (@self_reg ? 'self_update' : 'update'), :id => @user do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end -%>

<%= link_to 'Show', :action => (@self_reg ? 'self_show': 'show'), :id => @user %>
<% if not @self_reg %> |
<%= link_to 'Back', :action => 'list' %>
<% end %>