<h1>Users</h1>

<table>
  <tr><th>Name</th><th>Full Name</th><th>Email Address</th><th>Role</th>
<% for user in @users %>
  <tr>
    <td><%= link_to user.name, :action => 'show',
	    :id => user.id %></td>
    <td><%= user.fullname %></td>
    <td><%= user.email %></td>
    <td><%= link_to user.role.name, :controller => 'roles',
            :action => 'show', :id => user.role.id %></td>
  </tr>
<% end -%>
</table>

<hr/>
<p><%= link_to 'New User', :action => 'new' %></p>
