<h1> Reset Password </h1>

<p>Please click below to indicate that you would like to have your
password reset.</p>

<% form_tag :action => 'reset_password_submit', :id => @user.confirmation_key do%>
  <%= submit_tag 'Reset Password' %>
<% end -%>

<p>An email will be sent to the account you provided when you
registered, containing your new password.</p>
