<h1>New Content Page</h1>

<% form_for :content_page, :url => {:action => 'create'} do |form| %>
  <%= render :partial => 'form', :locals => {:form => form} %>
  <%= submit_tag "Create" %>
<% end %>

<%= link_to 'Back', :action => 'list' %>
