<% for item_id in items do 
     item = Goldberg.menu.get_item(item_id)
     selected = Goldberg.menu.selected?(item.id) -%>
<li>
  <a href="/menu/<%= item.name %>"<%= if item.children
    ' class="daddy"' 
    end %>><%= item.label %></a>
  <% if item.children -%>
<ul>
  <%= render :file => "#{RAILS_ROOT}/vendor/plugins/goldberg/app/views/goldberg/menu_items/_suckerfish.rhtml", :use_full_path => false, :locals => {:items => item.children} %>
</ul>
  <% end -%>
</li>
<% end -%>
